/*@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');*/

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(120deg, rgba(61, 152, 209, 0.76), 
    rgba(18, 129, 178, 0.8),rgba(20, 154, 214, 0.92)),
     url(../img/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Tangerine', serif, monospace, 'lobster', cursive, serif;
    text-align: justify;
    min-height: 100vh;
    letter-spacing: 1px;
    line-height: 1.6rem;
/*    text-shadow: 4px 4px 4px #ff0000;*/
}

.container{
    width: 100%;
    height: 100%;
    margin: auto 0;
    padding: 0;
    background: linear-gradient(120deg, rgba(61, 152, 209, 0.76), 
    rgba(18, 129, 178, 0.8),
    rgba(20, 154, 214, 0.92)), 
    url(../img/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Navigation styling */
nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12px;
    /* padding-right: 50rem; */
    color: #fff;
    border-bottom: 1px solid steelblue;
    background: #000;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8rem;
    list-style-type: none;
}

ul li a{
    display: inline;
    color: #fff;
    font-weight: 600;
    font-family:monospace;
    font-size: 20px;
    padding: 10px 20px;
    
}

#hambugger{
    display: none;
    background: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

#hambugger:focus{
    outline: none;
}
#hambugger:hover{
    outline: auto;
}

#colmix{
    width: 70%;
    /* background: rgba(58, 156, 236, 0.808); */
    background: rgb(218, 203, 203, 0.95);
    padding: 0.5rem;
    border: none;
    height: auto;
    margin: 0 12rem;
}

#colmix > div{
    width: 40%;
    height: 300px;
    margin-left: 7%;
/*    padding-left: 20px;*/
    display: inline-flex;
    flex-direction: row;
}

.content{
    padding: 0.5rem 0.5rem;
    border: none;
    width: 70%;
    height: auto;
    margin: 0 12rem;
    background: rgb(218, 203, 203, 0.95);
}

.footer-img{
    width: 70%;
    /* height: 600px; */
    margin: 0 12rem;
    background: rgb(218, 203, 203, 0.95);
    padding: 0.5rem;
}

.footer-img img{
    width: 100%;
}

.combination{
    width: 70%;
    /* height: 50vh; */
    background: rgb(218, 203, 203, 0.95);
    margin: auto 12rem;
    padding: 0.5rem;
}

.combination > .colgrad5{
    width: 40%;
    height: 300px;
    display: inline-flex;
    flex-direction: row;
   /* margin: 10px 10px; */
    background: red;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 5%;
}
.combination > .colgrad6{
    width: 40%;
    height: 300px;
    display: inline-flex;
    flex-direction: row;
   /* margin: 10px 10px; */
    background: repeating-linear-gradient(90deg, yellow 0px, blue 40px, green 40px, red 80px);
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 5%;
}

.combination2{
    width: 70%;
    /* height: 50vh; */
    background: rgb(218, 203, 203, 0.95);
    margin: 0 12rem;
    padding: 0.5rem;
}
.combination2 > .colgrad7{
    width: 40%;
    height: 300px;
    display: inline-flex;
    flex-direction: row;
   /* margin: 10px 10px; */
    background: red;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 5%;
}
.combination2 > .colgrad8{
    width: 40%;
    height: 300px;
    display: inline-flex;
    flex-direction: row;
   /* margin: 10px 10px; */
    background: repeating-linear-gradient(90deg, yellow 0px, blue 40px, green 40px, red 80px);
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 5%;
}

#logo h2, fas{
    color: #fff;
}

.header h1{
    font-family: cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    color:#fff;
    margin: 1.5rem;
}

h2{
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
   color:#000;
   margin-top: 1rem;
}

h3{
    font-family: 'Tangerine', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: underline;
    color:#000;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #000;
    margin: 10px 10px;
    line-height: 1.8rem;
}

.colgrad1{
    background: linear-gradient(140deg, rgba(255, 0, 0, 0.5), rgba(0, 0, 255,0.6), rgba(12, 173, 62, 0.6));
}

.colgrad2{
    background: linear-gradient(112deg, rgba(12, 67, 216, 0.8), rgba(222, 230, 15, 0.8),rgba(16, 39, 211, 0.86)), url(../img/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.colgrad3{
    background: radial-gradient(circle, rgba(9, 29, 186, 0.88) 20%, rgba(255, 235, 0, 0.93) 40%, rgba(136, 20, 253, 0.76) 60%), url(../img/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.colgrad4{
    background: radial-gradient(circle, rgb(206, 3, 3)30%, rgba(255, 235, 0, 0.93) 40%, rgba(244, 13, 13, 0.42) 75%);
}

.colgrad5{
    
}

.colgrad6{
    /* background: repeating-linear-gradient(
        90deg,
        blue 0px,
        aqua 10px,
        black 10px,
        red 20px
        ); */
}

input{
    width: 10%;
    height: 25px;
    float: right;
    margin-right: 1.1rem;
    background: rgba(89, 155, 211, 0.5);
    border: 1px solid black;
}

input:focus{
    border: 3px solid #000;
    background: #fff;
}

a{
    color: inherit;
    text-decoration: none;
    color: #000;
}

/* a:hover{
    color: aqua;
} */

a:active{
    color: #008bff;
}

/* Media Query */
@media screen and (max-width:1380px){
    .container{
        margin: 0;
        width: 1220px;
    }
    nav{
        width: 100%;
        padding: 10px 1px;
    }
    .nav-ul{
        margin-left: 6rem;
        padding: 0 1px;
        font-size: 20px;

    }
    .nav-ul li a{
        padding: 0 5px;
        font-size: 20px;

    }
    .nav-ul li{
        padding: 0 5px;
    }
}

@media screen and (max-width: 769px) {
    .container{
        margin: 0;
        width: 100%;
    }
    .content{
        margin: 0.2rem 7rem;
        margin-top: -7.1rem;
    }
    #colmix{
        margin: 7rem;
    }
    .combination{
        margin: -4.5rem 7rem;
    }
    .combination2{
        margin: 4rem 7rem;
    }
    .footer-img{
        margin:  4rem 7rem;
        margin-top: -0.3rem;
    }

    .header h1{
        margin: 1.5rem;
        margin-bottom: -6rem;
    }

    /* Navigation styling */
     nav{
        width: 100%;
        padding: 10px 10px;
    }
    .nav-ul{
        display: none;
        flex-direction: column;
        width: 230px;
        background: #000;
        position: absolute;
        transform: translate(-10%, 56%);
        padding: 10px;
        padding-left: 1rem;
        align-items: stretch;
    }
    .nav-ul li{
        border-bottom: 2px solid #fff;
        padding: 10px;
    }
    .nav-ul.show{
        display: flex;
    }
    #hambugger{
        display: block;
        margin-left: 2rem;
    }

@media screen and (max-width: 600px){
    .content{
        margin: 0.2rem 4rem;
        margin-top: -5rem;
    }
    #colmix{
        margin: 4rem;
    }
    .combination{
        margin: -4.5rem 4rem;
    }
    .combination2{
        margin: 4rem 4rem;
    }
    .footer-img{
        margin:  4rem 4rem;
        margin-top: -0.3rem;
    }
    .header h1{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: -3rem;
        text-align: center;
    }
}